<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

  <form name="student-add" action="/student-add" method="POST">
      <h3>Enter a New Student</h3>
      <p>
        <label>First Name:</label>
        <input type="text" id="firstname" name="firstname">
      </p>
      <p>    
        <label>Last Name:</label>
        <input type="text" id="lastname" name="lastname">
      </p>
      <p>
        <label>Github:</label>
        <input type="text" id="github" name="github">
      </p>
      <p><input type="submit" value="Enter Student"></p>
  </form>

</body>
</html>